node_modules/
.next/
config.bat
.env
.env.local
.env.development
.env.test
.env.production
.DS_Store
dist/
build/
coverage/
*.log
*.tsbuildinfo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
