
body { margin: 0; font-family: sans-serif; }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 16px;
    --primary: #30B33D;
    --secondary: #30B33D;
    --background_first: #FFFFFF;
    --background_second: #D9D9D9;
    --border_first: #D9D9D9;
    --page-background: #F3F6F9;
    --font-poppins: 'Poppins', sans-serif;
}


/* Firefox */
*:not(html) {
  scrollbar-color: var(--primary) #E8F5E9;
  scrollbar-width: thin;
}

/* WebKit (Chrome, Edge, Safari) */
*:not(html)::-webkit-scrollbar {
  width: 10px;
  height: 6px; /* horizontal */
}

*:not(html)::-webkit-scrollbar-track {
  background: #E8F5E9;
}

*:not(html)::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  border: 2px solid #E8F5E9;
}

*:not(html)::-webkit-scrollbar-thumb:hover {
  background: #279632;
}