.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5)
}

.modalContainer {
  background: #F9FAFB !important;
  border-radius: 10px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  width: 363px;
  min-height: auto;
  max-width: 90vw;
  /* padding: 32px; */
  position: relative;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px; 
  width: 32px;
  height: 32px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #F9FAFB;
  box-shadow: -10px -10px 20px 0px #FFFFFF, 3px 3px 10px 0px #AAAACC80;
}

.closeButton:hover {
  background: #e5ebe7;
  box-shadow: -5px -5px 10px 0px #FFFFFF, 2px 2px 5px 0px #AAAACC80;
}

.title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
  margin-top: 24px;
}

.divider {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 0 auto 16px;
  max-width: 300px;
}

.bottomDivider {
  border: none;
  border-top: 1px dashed #e5e7eb !important;
  margin: 16px auto 0 !important;
  max-width: 300px;
}

.detailsContainer {
  text-align: left;
  margin: 0 auto;
  max-width: 300px;
}

.detailRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.detailLabel {
  color: #707070;
  font-weight: 400;
  font-size: 12px;
}

.detailValue {
  font-weight: 500;
  font-size: 12px;
}

.detailValueBold {
  font-weight: 700;
  font-size: 12px;
}

.submitButton {
  margin-top: 32px;
  width: 215px;
  height: 35px;
  background: #30b33d;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-shadow: 4px 4px 12px 0px #BBC3CE99,  -4px -4px 12px 0px #FDFFFFCC;
}
